.AddNew {
    text-align: left;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    @include inputStandard;


    &__heading {
        margin-bottom: $margin-small;
    }

    &__wrapper {
        width: 100%;
        margin-bottom: $margin-small;
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        font-size: $font-12;
        font-weight: bold;
        color: getColor(subTitle);
        margin-bottom: $margin-tiny;
    }

    &__label {
        width: 100%;
        display: flex;
        position: relative;

        & input {
          width: 100%;
        }
        &--err input,
        &--err input:focus,
        &--err input:focus-visible {
            border-color: $red;
        }

        &--errTxt {
            position:absolute;
            display: flex;
            top:0;
            bottom:0;
            right: $margin-small;
            align-items: center;
            font-size: $font-12;
            font-weight: bold;
            color: $red;
        }

        &  input {
            width: 100%;
            margin-bottom: $margin-tiny;
            margin-right: $margin-tiny;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}